.App {
  text-align: center;
}

.header {
  background-color: #031E36;
  position: relative;
  top: 0;
  width: 100%;
  min-height: 20vh;
}

.body {
  position: relative;
  min-height: calc(100% - 15vh);
  width: 100%; 
}

.link {
  color: #61dafb;
}

.footer {
  position: relative;
  background-color: #031E36;
  width: 100%;
  min-height: 15vh;
}
