.dw-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-container {
  height: 3vmin;
  line-height: 3vmin;

  p {
    margin: auto;
  }
}

.fading-effect {
  position: relative;
  right: 0;
  margin-top: -3vmin;
  width: 100%;
  height: 3vmin;
  background-color: #031e36;
}

.logo {
  height: 3vmin;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin infinite 20s linear;

    &:hover {
      animation-play-state: paused;
    }
  }

  .logo-container {
    animation: image-slide 4s cubic-bezier(0.5, 0.5, 0, 1);
    animation-fill-mode: forwards;
  }

  .fading-effect {
    animation: text-slide 4s cubic-bezier(0.5, 0.5, 0, 1);
    animation-fill-mode: forwards;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes image-slide {
  0% {
    transform: translatex(-10vw);
  }
  60% {
    transform: translatex(-10vw);
  }
  77% {
    transform: translatex(-.6vw);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes text-slide {
  0% {
    left: 0;
  }
  60% {
    left: 0;
  }
  77% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
