.Header {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
    background: linear-gradient(45deg, #0f4c81, #0f4c81, #031e36, #031e36, #0f4c81, #0f4c81);
    background-size: 600% 600%;

    animation: glow 10s ease infinite;
}

@keyframes glow {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}
