.Map {
    position: relative;
    height: 60vh;
}

.mapContainer {
    height: 100%;
    width: 100%;
}

.leftSidebar {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}

.rightSidebar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    border-radius: 5px;
}

.mapboxgl-popup {
    max-width: 500px;
    color: grey;
}
