.frame {
  border: 2vh solid white;
  border-radius: 50%;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  min-height: 200px;
  user-select: none;
}

.profile-image {
  display: flex;
  height: 100%;
  width: 100%;
  transform: scale(1.2);
  cursor: pointer;
}

.pop {
  animation: pop 0.3s ease-in-out forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  10%,
  60%{
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
