.frame {
  border: 2vh solid white;
  border-radius: 50%;
  overflow: hidden;
  max-height: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  display: flex;
  height: 100%;
  width: 100%;
  transform: scale(1.2);
  cursor: pointer;
}

.pop-down {
  animation: pop-down 0.1s forwards;
}

.pop-up {
  animation: pop-up 0.1s forwards;
}

@keyframes pop-down {
  100% {
    transform: scale(0.8);
  }
}

@keyframes pop-up {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
