html {
  scroll-behavior: smooth;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: overlay;
  --background-color: #f5ce4d; // Cannot use sass variables here
  --color: black;
}

::selection {
  background-color: var(--color);
  color: var(--background-color);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 20px;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--color);
  text-decoration: none;

  &:hover {
    color: var(--color);
  }
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(
    --background-color
  ); // Not in body 'cause mix-blend-mode doesn't work
  color: var(--color);
}

#cursor {
  display: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;
  will-change: transform; // ???
  pointer-events: none; // ???
}
